Repository sendgrid/sendgrid-java, pull requests merged in 2019-05, with the labels that each got.

#507 Update TROUBLESHOOTING.md
  TROUBLESHOOTING.md
Labels: difficulty: easy, status: code review request, status: hacktoberfest approved

#495 Fix #404 Add ability to impersonate subusers
  src/main/java/com/sendgrid/SendGrid.java
  src/test/java/com/sendgrid/SendGridTest.java
Labels: difficulty: medium, hacktoberfest, status: code review request, status: hacktoberfest approved, type: sendgrid enhancement

#569 Twilio Branding + CLA Policy Update
  .github/PULL_REQUEST_TEMPLATE
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
  TROUBLESHOOTING.md
  USAGE.md
  USE_CASES.md
  bin/com/sendgrid/helpers/README.md
  build.gradle
  docker/Dockerfile
  docker/README.md
  docker/USAGE.md
  examples/helpers/mail/Example.java
  examples/mail/mail.java
  proposals/mail-helper-refactor.md
  src/main/java/com/sendgrid/SendGrid.java
  src/main/java/com/sendgrid/SendGridAPI.java
  src/main/java/com/sendgrid/helpers/README.md
  src/main/java/com/sendgrid/helpers/mail/Mail.java
  src/test/java/com/sendgrid/LicenseTest.java
Labels: difficulty: easy, status: code review request, type: sendgrid enhancement

#557 Update Jackson dependencies to the latest version
  bin/com/sendgrid/helpers/README.md
  build.gradle
  pom.xml
  src/main/java/com/sendgrid/helpers/README.md
Labels: status: code review request
